.containerModal {
  display: flex;
}

.containerModal .left img {
  width: 25vw;
  filter: grayscale(100%);
}

.containerModal .right {
  width: 60vw;
  margin-left: 20px;
}

.imgPerfilNavers img{
  width: 300px;
}